go 1.21.5

use ./day1/part1
use ./day1/part2
use ./day2/part1
use ./day2/part2
use ./day3/part1
use ./day3/part2
use ./day4/part1
use ./day4/part2
use ./day5/part1
use ./day5/part2
use ./day6/part1
use ./day6/part2
use ./day7/part1
use ./day7/part2
use ./day8/part1